.videos {
    background-color: coral;
}

h2 {
    color: rgb(29, 29, 29);
    font-size: 25px;
    padding: 30px 80px;
}

h4 {
    color: rgb(29, 29, 29);
    font-size: 15px;
    text-align: center;
    margin-left: -28px;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: rgb(29, 29, 29);
}

a:hover {
    text-decoration: none;
}

.list {
    display: flex;
    justify-content: space-between;
    padding-left: 80px;
    padding-right: 60px;
}

.img {
    width: 85%;
}

.hide {
    display: none;
}

mark {
    background: white;
}

.btns {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}

.new {
    color: white;
    background-color: rgba(173, 67, 29, 0.637);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
    border-radius: 10px; 
}

.new-video {
    margin-left: 80px; 
}

.new-category {
    margin-left: 20px;
}

.new-video:hover, .new-category:hover {
    background-color: rgba(196, 74, 30, 0.637);
}

#topic {
    color: coral;
    font-size: 20px;
}

.edit-video {
    margin-top: 4%;
    margin-bottom: 3%;
}